/bin/
/Result_3NN_Petal Length_Petal Width.png
/Result_3NN_Petal Length_Sepal Length.png
/Result_3NN_Petal Length_Sepal Width.png
/Result_3NN_Petal Width_Sepal Length.png
/Result_3NN_Petal Width_Sepal Width.png
/Result_3NN_Sepal Width_Sepal Length.png
